body {
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.sujan{
    color: orange;
}
.first-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.first-part img{
    max-width: 100%;
}